
*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#06140c;
color:white;
}

.navbar{
display:flex;
justify-content:space-between;
padding:25px 50px;
background:#081a10;
}

.navbar ul{
display:flex;
gap:20px;
list-style:none;
align-items:center;
}

.navbar a{
color:white;
text-decoration:none;
}

.logo{
font-size:32px;
font-weight:700;
color:#63ff7d;
}

#language{
padding:10px;
border-radius:10px;
background:#10251a;
color:white;
border:none;
}

.hero{
height:80vh;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
background:
linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),
url('https://images.unsplash.com/photo-1500937386664-56d1dfef3854?q=80&w=1600');
background-size:cover;
}

.hero h1{
font-size:72px;
margin-bottom:20px;
}

.hero p{
font-size:22px;
margin-bottom:30px;
}

button{
padding:14px 24px;
border:none;
border-radius:12px;
background:#19dd5d;
color:white;
cursor:pointer;
font-weight:600;
}

.features-section{
padding:80px;
}

.feature-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:25px;
}

.feature-card{
padding:30px;
border-radius:20px;
background:rgba(255,255,255,0.08);
}

.feature-card h3{
margin-bottom:20px;
font-size:28px;
}
